<html>
    <head>
        <title>Home & From</title>
    </head>
    <body>
      <h1>Welcome to Home & From</h1>
    </hr>
        <em>Hi there!</em>
      </br>
        <strong>It works!</strong>
        <div>
          Check out this blog
        </div>
        {% for post in posts %}
        <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
      {% endfor %}
    </body>
</html>
